<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<title>無標題文件</title>

	<link href="css/todos.css" rel="stylesheet">
	
    <!--js區 分隔線-->
    <!--基礎js-->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <script src="js/jquery-1.12.2.min.js"></script>
    <!-- Bootstrap3.37 官方基礎JS-->
    <script src="js/bootstrap.min.js"></script>
</head>

<body>
<div class="col-6 offset-3 post">
	<!-- 練習開始 -->
	<h1 class="mt-0 text-muted">
		Todo 範例製作
	</h1>
	<h4 class="mt-0 text-muted">
		<a href="index.html">
			回首頁
		</a>
	</h4>

	<div id="app-todo">

		<div class="input-group mb-3">
			<div class="input-group-prepend">
				<span class="input-group-text" id="basic-addon1">
					待辦事項
				</span>
			</div>
			<input type="text" class="form-control" placeholder="準備要做的任務" v-model="newTodo" @keyup.enter="addTodo">
			<div class="input-group-append">
				<button class="btn btn-primary" type="button" @click="addTodo">新增</button>
			</div>
		</div>

		<div class="card text-center">
			<div class="card-header">
				<ul class="nav nav-tabs card-header-tabs">
					<li class="nav-item">
						<a class="nav-link" :class="{'active':visibility=='all'}" @click="visibility='all'" href="#">
							全部
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" :class="{'active':visibility=='active'}" @click="visibility='active'" href="#">
							進行中
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" :class="{'active':visibility=='completed'}" @click="visibility='completed'" href="#">
							已完成
						</a>
					</li>
				</ul>
			</div>

			<ul class="list-group list-group-flush text-left">

				<li class="list-group-item" v-for="(item,key) in filteredTodos" @dblclick="editTodo(item)">
					<div class="d-flex" v-if="item.id !== cacheTodo.id">
						<div class="form-check">
							<input type="checkbox" class="form-check-input" v-model="item.completed" :id="item.id">
							<label class="form-check-label" :for="item.id" :class="{'completed':item.completed}">
								{{item.title}}
							</label>
						</div>

						<button type="button" class="close ml-auto" aria-label="Close" @click="removeTodo(item)">
							<span aria-hidden="true">
								&times;
							</span>
						</button>
					</div>
					<input type="text" class="form-control" v-if="item.id === cacheTodo.id" v-model="cacheTitle" @keyup.esc="cancelEdit()" @keyup.enter="doneEdit(item)">
				</li>

				<!--
				<li class="list-group-item">
					<div class="d-flex">
						<div class="form-check">
							<input type="checkbox" class="form-check-input" id="a1">
							<label class="form-check-label completed" for="a1">
								Cras justo odio
							</label>
						</div>
						<button type="button" class="close ml-auto" aria-label="Close">
							<span aria-hidden="true">
								&times;
							</span>
						</button>
					</div>
				</li>
				-->

				<!--
				<li class="list-group-item">
					<input type="text" class="form-control">
				</li>
				-->

			</ul>

			<div class="card-footer d-flex justify-content-between">
				<span>
					還有 3 筆任務未完成
				</span>
				<a href="#">
					清除所有任務
				</a>
			</div>
		</div>

	</div>

	<script>
		var app_todo = new Vue({
			el: '#app-todo',
			data: {
				newTodo:'',
				todos:[
					{
						id:'test345',
						title:'你好',
						completed:false
					}
				],
				cacheTodo:{},
				cacheTitle:'',
				visibility:'all'
			},
			methods: {
				addTodo:function(){
					var value=this.newTodo.trim();
					var timestamp=Math.floor(Date.now());

					if(!value){
						return;
					}

					//value出現你key入的內容，timestamp出現目前時間秒數
					console.log(value,timestamp);
					this.todos.push({
						id:timestamp,
						title:value,
						computed:false
					});

					this.newTodo="";
				},
				removeTodo:function(todo){
					//var newIndex = '';
					var vm = this;
					var newIndex = vm.todos.findIndex(function(item,key){
						return todo.id === item.id;
					})
					vm.todos.forEach(function(item,key){
						if(todo.id === item.id){
							newIndex = key
						}
					})
					this.todos.splice(newIndex,1)
				},
				editTodo:function(item){
					console.log(item);
					this.cacheTodo = item;
					this.cacheTitle = item.title;
				},
				cancelEdit:function(){
					this.cacheTodo = {}
				},
				doneEdit:function(item){
					item.title = this.cacheTitle;
					this.cacheTitle='';
					this.cacheTodo = {}
				}
			},

			computed:{
				filteredTodos:function(){
					if(this.visibility == 'all'){
						return this.todos;
					}else if(this.visibility == 'active'){
						var newTodos = [];
						this.todos.forEach(function(item){
							if(!item.completed){
								newTodos.push(item);
							}
						})
						return newTodos;
					}else if(this.visibility == 'completed'){
						var newTodos = [];
						this.todos.forEach(function(item){
							if(item.completed){
								newTodos.push(item);
							}
						})
						return newTodos;
					}
					return [];
				}
			}
		});

		//1-新增
		// var app_todo = new Vue({
		// 	el: '#app-todo',
		// 	data: {
		// 		newTodo:'',
		// 		todos:[
		// 			{
		// 				id:'test345',
		// 				title:'你好',
		// 				completed:false
		// 			}
		// 		]
		// 	},
		// 	methods: {
		// 		addTodo:function(){
		// 			var value=this.newTodo;
		// 			var timestamp=Math.floor(Date.now());

		// 			//value出現你key入的內容，timestamp出現目前時間秒數
		// 			console.log(value,timestamp);
		// 			this.todos.push({
		// 				id:timestamp,
		// 				title:value,
		// 				completed:false
		// 			});
		// 			this.newTodo="";
		// 		}
		// 	}
		// });

		//2-新增+刪除
		// var app_todo = new Vue({
		// 	el: '#app-todo',
		// 	data: {
		// 		newTodo:'',
		// 		todos:[
		// 			{
		// 				id:'test345',
		// 				title:'你好',
		// 				completed:false
		// 			}
		// 		]
		// 	},
		// 	methods: {
		// 		addTodo:function(){
		// 			var value=this.newTodo;
		// 			var timestamp=Math.floor(Date.now());

		// 			if(!value){
		// 				return;
		// 			}

		// 			//value出現你key入的內容，timestamp出現目前時間秒數
		// 			console.log(value,timestamp);
		// 			this.todos.push({
		// 				id:timestamp,
		// 				title:value,
		// 				completed:false
		// 			});

		// 			this.newTodo="";
		// 		},
		// 		removeTodo:function(key){
		// 			this.todos.splice(key,1)
		// 		}
		// 	}
		// });

		//3-頁籤分類
		// var app_todo = new Vue({
		// 	el: '#app-todo',
		// 	data: {
		// 		newTodo:'',
		// 		todos:[
		// 			{
		// 				id:'test345',
		// 				title:'你好',
		// 				completed:false
		// 			}
		// 		],
		// 		visibility:'all'
		// 	},
		// 	methods: {
		// 		addTodo:function(){
		// 			var value=this.newTodo.trim();
		// 			var timestamp=Math.floor(Date.now());

		// 			if(!value){
		// 				return;
		// 			}

		// 			//value出現你key入的內容，timestamp出現目前時間秒數
		// 			console.log(value,timestamp);
		// 			this.todos.push({
		// 				id:timestamp,
		// 				title:value,
		// 				computed:false
		// 			});

		// 			this.newTodo="";
		// 		},
		// 		removeTodo:function(key){
		// 			this.todos.splice(key,1)
		// 		}
		// 	},

		// 	computed:{
		// 		filteredTodos:function(){
		// 			if(this.visibility == 'all'){
		// 				return this.todos;
		// 			}else if(this.visibility == 'active'){
		// 				var newTodos = [];
		// 				this.todos.forEach(function(item){
		// 					if(!item.completed){
		// 						newTodos.push(item);
		// 					}
		// 				})
		// 				return newTodos;
		// 			}else if(this.visibility == 'completed'){
		// 				var newTodos = [];
		// 				this.todos.forEach(function(item){
		// 					if(item.completed){
		// 						newTodos.push(item);
		// 					}
		// 				})
		// 				return newTodos;
		// 			}
		// 			return [];
		// 		}
		// 	}
		// });

		//4-雙擊修改資料內容
		// var app_todo = new Vue({
		// 	el: '#app-todo',
		// 	data: {
		// 		newTodo:'',
		// 		todos:[
		// 			{
		// 				id:'test345',
		// 				title:'你好',
		// 				completed:false
		// 			}
		// 		],
		// 		cacheTodo:{},
		// 		cacheTitle:'',
		// 		visibility:'all'
		// 	},
		// 	methods: {
		// 		addTodo:function(){
		// 			var value=this.newTodo.trim();
		// 			var timestamp=Math.floor(Date.now());

		// 			if(!value){
		// 				return;
		// 			}

		// 			//value出現你key入的內容，timestamp出現目前時間秒數
		// 			console.log(value,timestamp);
		// 			this.todos.push({
		// 				id:timestamp,
		// 				title:value,
		// 				computed:false
		// 			});

		// 			this.newTodo="";
		// 		},
		// 		removeTodo:function(key){
		// 			this.todos.splice(key,1)
		// 		},
		// 		editTodo:function(item){
		// 			console.log(item);
		// 			this.cacheTodo = item;
		// 			this.cacheTitle = item.title;
		// 		},
		// 		cancelEdit:function(){
		// 			this.cacheTodo = {}
		// 		},
		// 		doneEdit:function(item){
		// 			item.title = this.cacheTitle;
		// 			this.cacheTitle='';
		// 			this.cacheTodo = {}
		// 		}
		// 	},

		// 	computed:{
		// 		filteredTodos:function(){
		// 			if(this.visibility == 'all'){
		// 				return this.todos;
		// 			}else if(this.visibility == 'active'){
		// 				var newTodos = [];
		// 				this.todos.forEach(function(item){
		// 					if(!item.completed){
		// 						newTodos.push(item);
		// 					}
		// 				})
		// 				return newTodos;
		// 			}else if(this.visibility == 'completed'){
		// 				var newTodos = [];
		// 				this.todos.forEach(function(item){
		// 					if(item.completed){
		// 						newTodos.push(item);
		// 					}
		// 				})
		// 				return newTodos;
		// 			}
		// 			return [];
		// 		}
		// 	}
		// });

		//5-刪除項目補充說明
		// var app_todo = new Vue({
		// 	el: '#app-todo',
		// 	data: {
		// 		newTodo:'',
		// 		todos:[
		// 			{
		// 				id:'test345',
		// 				title:'你好',
		// 				completed:false
		// 			}
		// 		],
		// 		cacheTodo:{},
		// 		cacheTitle:'',
		// 		visibility:'all'
		// 	},
		// 	methods: {
		// 		addTodo:function(){
		// 			var value=this.newTodo.trim();
		// 			var timestamp=Math.floor(Date.now());

		// 			if(!value){
		// 				return;
		// 			}

		// 			//value出現你key入的內容，timestamp出現目前時間秒數
		// 			console.log(value,timestamp);
		// 			this.todos.push({
		// 				id:timestamp,
		// 				title:value,
		// 				computed:false
		// 			});

		// 			this.newTodo="";
		// 		},
		// 		removeTodo:function(todo){
		// 			//var newIndex = '';
		// 			var vm = this;
		// 			var newIndex = vm.todos.findIndex(function(item,key){
		// 				return todo.id === item.id;
		// 			})
		// 			vm.todos.forEach(function(item,key){
		// 				if(todo.id === item.id){
		// 					newIndex = key
		// 				}
		// 			})
		// 			this.todos.splice(newIndex,1)
		// 		},
		// 		editTodo:function(item){
		// 			console.log(item);
		// 			this.cacheTodo = item;
		// 			this.cacheTitle = item.title;
		// 		},
		// 		cancelEdit:function(){
		// 			this.cacheTodo = {}
		// 		},
		// 		doneEdit:function(item){
		// 			item.title = this.cacheTitle;
		// 			this.cacheTitle='';
		// 			this.cacheTodo = {}
		// 		}
		// 	},

		// 	computed:{
		// 		filteredTodos:function(){
		// 			if(this.visibility == 'all'){
		// 				return this.todos;
		// 			}else if(this.visibility == 'active'){
		// 				var newTodos = [];
		// 				this.todos.forEach(function(item){
		// 					if(!item.completed){
		// 						newTodos.push(item);
		// 					}
		// 				})
		// 				return newTodos;
		// 			}else if(this.visibility == 'completed'){
		// 				var newTodos = [];
		// 				this.todos.forEach(function(item){
		// 					if(item.completed){
		// 						newTodos.push(item);
		// 					}
		// 				})
		// 				return newTodos;
		// 			}
		// 			return [];
		// 		}
		// 	}
		// });
	</script>

	<style>
		.completed {
			text-decoration: line-through;
		}
	</style>

</div>
</body>
</html>
